<button nz-button (click)="addRow()" nzType="primary">Add</button>
    <br />
    <br />
    <nz-table #editRowTable nzBordered [nzData]="listOfData">
      <thead>
        <tr>
          <th nzWidth="30%">Name</th>
          <th>Updated</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data" class="editable-row">
          <td>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.firstName }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.firstName" (blur)="stopEdit()" />
          </td>
          <td>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.updatedAt }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.updatedAt" (blur)="stopEdit()" />
          </td>
          <td>
            <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
              {{ data.createdAt }}
            </div>
            <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.createdAt" (blur)="stopEdit()" />
          </td>
        </tr>
      </tbody>
    </nz-table>